body {
    margin: 0px;
    background: #000000;
    overflow: hidden;
    font-family: fenwick-1;
    color: #ffffff;
}

#bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.section {
    display: none;
}

#footer, .section-text {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
}

#footer {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
}

#footer a, a:visited, a:hover {
    text-decoration: none;    
    color: white;
}

#names {
    float: left;
    font-size: 40px;
    line-height: 0.9;
    text-align: right;
    font-family: peacock-deep-1;
    margin-right: 3px;
}

p {
    margin-top: 10px;
    margin-bottom: 5px;
}

div.p {
    float: left;
}

div.section {
    width: 400px;
}

.section-image {
    float: left;
    left: 0;
}

.section-text {
    position: absolute;
    font-size: 14px;
    padding: 15px;
    left: 650px;
    width: 400px;
}

/*#travel .section-image {
    position: absolute;
    width: 100%;
    bottom: 120px;
    left: 0;
}*/

#title-box {
    float: left;
    text-align: right;
    padding-top: 5px;
    padding-left: 15px;
    width: 610px;
}

#title {
    display: none;
    height: 65px;
    font-size: 50px;
    font-family: peacock-deep-1;
}

#date {
    display: none;
    color: #ffa500;
    font-size: 40px;
    width: 100%;
    font-family: eigerdals-1;
}

#links {
    float: left;
    padding-top: 0px;
    padding-left: 45px;
    display:none;
}

#links .section-link {
    vertical-align: middle;
    line-height: 40px;
    font-size: 30px;
    font-family: fenwick-1;
}

.subsection {
    margin-top: 15px;
}

.title {
    font-family: peacock-deep-1;
    font-size: 30px;
}

.qa {
    float: left;
    padding-top: 15px;
}

.qa .question {
    font-weight: bold;
    font-variant: small-caps;
    width: 60px;
}

.question {
    float: left;
}

.qa .answer {
    width: 340px;
}

.answer {
    float: left;
}

a, a:visited {
    text-decoration: none;    
    color: #ffa500;
}

a:hover {
    text-decoration: underline;
}

a.section-link.active {
    color: #ffa500;
}

#travel .section-image {
    position: absolute;
    left: 0;
    bottom: 120;
}

#rsvp .content {
    top: 30px;
    left: 30px;
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.form-row {
    clear: both;
    padding-top: 10px;
}

#rsvp .question {
  width: 210px;
}

#rsvp .answer {
  width: 255px;
}

#rsvp .answer input[type=text] {
  width: 250px;
}

.disclaimer {
    color: #ff3366;
    font-size: 10px;
}

.response {
    font-size: 20px;
}

.form-error {
     float: left;
     display: none;
     color: #cc0000;
}
