body {
    margin: 0px;
    background: #000000;
    overflow: hidden;
    font-family: eigerdals-1;
    color: #ffffff;
}

#bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.section {
    display: none;
}

#footer {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
}

#amp {
    float: right;
    font-size: 45px;
}

#names {
    float: right;
    font-size: 40px;
    text-align: right;
}

/*#details */.section-image {
    float: left;
    left: 0;
}

.section-content {
    position: absolute;
    left: 650px;
}

/*#travel .section-image {
    position: absolute;
    width: 100%;
    bottom: 120px;
    left: 0;
}*/

#title-box {
    float: left;
    text-align: right;
    padding-top: 5px;
    padding-left: 15px;
    width: 610px;
}

#title {
    display: none;
    height: 65px;
    font-size: 50px;
    font-family: peacock-deep-1;
}

#date {
    display: none;
    color: #ffa500;
    font-size: 40px;
    width: 100%;
}

#links {
    float: left;
    padding-top: 0px;
    padding-left: 45px;
}

.section-link {
    vertical-align: middle;
    line-height: 40px;
    color: white;
    font-size: 30px;
}

.title {
    font-family: peacock-deep-1;
    font-size: 30px;
}

.text {
}

a, a:visited, a:hover {
    text-decoration: none;    
    color: #ffa500;
}

a.section-link.active {
    color: #ffa500;
}
